{% from "projects/_helpers.html" import render_project_card_option %} {% extends
"projects/base.html" %} {% set active_page = "projects" %} {% set active_project
= project.short_name %} {% set active_link = "tasks" %} {% set section =
_("Import Tasks") %} {% block projectcontent %}
<p>
  {{ _('Use one of the following available') }}
  <strong>{{ _('importers') }}</strong> {{ _('to import tasks...') }}
</p>
<!-- {% for row in available_importers|batch(2) %}
<div class="row">
    {% for importer in row %}
    <div class="col-md-6">
        {% include importer %}
    </div>
    {% endfor %}
</div>
{% endfor %}
<div class="row">
    <div class="col-md-12">
        <p>{{_('... or import a set of') }} <strong>{{_('template tasks')}}</strong> {{ ('for any of the template projects.')}}</p>
    </div>
</div>
{% for row in task_tmpls|batch(2) %}
<div class="row">
    {% for task_tmpl in row %}
    <div class="col-md-6">
        {% include task_tmpl %}
    </div>
    {% endfor %}
</div>
{% endfor %}
    </div>
</div> -->
<div class="row">
  <div class="col-md-6">
    {{ render_project_card_option(project, upload_method, title=_('Local Files'), explanation=_('Use files on your computer'), link=url_for('project.import_files', short_name=project.short_name), link_action_text=_('Import data'), icon='table')}}
  </div>
  <div class="col-md-6">
    {{ render_project_card_option(project, upload_method, title=_('Minio Server'), explanation=_('Use files from an Minio Server bucket'), link=url_for('project.import_minio', short_name=project.short_name), link_action_text=_('Import data'), icon='cloud-upload')}}
  </div>
</div>
{% endblock %}
