{% extends "projects/base.html" %} {% set active_page = "projects" %} {% set
active_project = "all" %} {% set active_link = "tasks" %} {% set section =
_('Create Labels') %} {% block projectcontent %}
<section class="small-stepper">
  <div class="container-fluid">
    <div class="col-12">
      <span>
        <p class="step-number">1</p>
        <p class="step-title">
          Enter your pair <em>Key </em>-<em> Value</em> below
        </p>
      </span>
    </div>
    <div class="col-12">
      <span>
        <p class="step-number">2</p>
        <p class="step-title">Click <em>New</em> button to add new labels</p>
      </span>
    </div>
    <div class="col-12">
      <span>
        <p class="step-number">3</p>
        <p class="step-title">Click <em>Save</em> button to submit</p>
      </span>
    </div>
  </div>
</section>
<div class="row">
  <div class="col-md-12">
    <form
      action="{{ url_for('project.import_labels', short_name=project.short_name) }}"
      method="POST"
      id="addLabelsForm"
    >
      {{ form.hidden_tag() }}
      <div class="form-groups">
        <table id="tblCustomers">
          <colgroup>
            <col />
            <col />
            <col />
          </colgroup>
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="tableBody">
            {% if form.labels %}
            {% for label in form.labels %}
            <tr class="labelImport">
              <td>
                <input type="text" name="key" value="{{ label.key }}" disabled/>
              </td>
              <td>
                <input type="text" name="value" value="{{ label.value }}" disabled/>
              </td>
              <td>
                <button type="button" class="deleteBtn" data-id="{{label.id}}">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            {% endfor %} {%else%}
            <tr class="labelImport">
              <td>
                <input type="text" name="key" />
              </td>
              <td>
                <input type="text" name="value" />
              </td>
              <td>
                <button type="button" class="deleteBtn">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
            {%endif%}
          </tbody>
        </table>
      </div>
      <div
        class="buttonWrapper text-right form-controls"
        style="margin-top: 1rem;"
      >
        <button class="btn btn-primary" type="submit" id="createLabel" style="display: none;">Save</button>
        <input
          type="button"
          class="btn btn-default"
          onclick="addRow()"
          value="New"
        />
      </div>
    </form>
  </div>
</div>
{% endblock %}
