{% extends "projects/base.html" %} {% set active_page = "projects" %} {% set
active_project = project.short_name %} {% set active_link = 'tasks' %} {% set
section = _('Local Files') %} {% block projectcontent %}
<section class="small-stepper">
  <div class="container-fluid">
    <div class="col-12">
      <span>
        <p class="step-number">1</p>
        <p class="step-title">Choose Files</p>
      </span>
    </div>
    <div class="col-12">
      <span>
        <p class="step-number">2</p>
        <p class="step-title">Click <em>Import</em> button to submit</p>
      </span>
    </div>
  </div>
</section>
<form
  method="post"
  enctype="multipart/form-data"
  action="{{ url_for('project.import_files', short_name=project.short_name) }}"
>
  <fieldset>
    {{ form.hidden_tag() }}
    <span class="label label-warning"
      ><i class="fa fa-bullhorn"></i> {{ _('Note') }}</span
    >
    {{ _('Maximum upload file size: 5MB') }}
    <div class="form-actions">
      <div class="choosefiles">
        <input
          type="file"
          name="files[]"
          multiple="true"
          autocomplete="off"
          class="inputfile"
          data-multiple-caption="{count} files selected"
          required
        />
        <label for="files[]"
          ><i class="fa fa-cloud-upload" aria-hidden="true"></i>
        </label>
        <p>Choose Files</p>
      </div>
      <div>
        <input
          id="submit"
          type="submit"
          value="{{ _('Import') }}"
          class="btn btn-primary"
        />
        <a
          href="{{ url_for('project.tasks', short_name=project.short_name) }}"
          class="btn btn-default"
          >{{ _('Cancel') }}</a
        >
      </div>
    </div>
  </fieldset>
</form>
{% endblock %} {% block extrajs %}
<script>
  $('#submit')
    .off('click')
    .on('click', function() {
      var msg = "{{_('Importing data...')}}";
      pybossaNotify(msg, true, 'loading');
    });
</script>
{% endblock %}
