{% extends "base.html" %} {% set active_page = "community" %} {% import
"privacy/locked.html" as privacy %} {% import "account/_helpers.html" as helper
%} {% from "projects/_helpers.html" import broken_image %} {% block content %}
<h1 class="account community">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8 new-community">
        {% if enforce_privacy and (current_user.is_anonymous() or
        (current_user.is_authenticated and not current_user.admin)) %}
        {{ privacy.render_lock_page() }}
        {% else %}
        <div>
          <h1 class="title">{{ _('Community') }}</h1>
          <a
            class="btn btn-sm btn-info"
            href="{{ url_for('leaderboard.index') }}"
            ><i class="fa fa-trophy" style="color:white"></i>
            {{ _('Leaderboard') }}</a
          >
          <p>
            <i class="fa fa-users" aria-hidden="true"></i>{{ total }}
            {{ _(' users') }}
          </p>
        </div>
        <table>
          {% if accounts %}
          <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Member since</th>
          </tr>
          <tbody>
            {% for account in accounts %}
            <tr>
              <td class="image-wrapper">
                {{helper.render_user_thumbnail(account, upload_method, class='img-responsive img-circle')}}
                <a href="{{url_for('account.profile', name=account.name)}}">{{
                  account.name
                }}</a>
              </td>
              <td>{{ account.fullname }}</td>
              <td>{{ account.registered_ago }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endif %} {% endif %}
      </div>
      {% if pagination.pages > 1 %}
      <div class="col-md-offset-2 col-md-8 text-center">
        {{ helper.render_pagination(pagination) }}
      </div>
      {% endif %}
    </div>
  </div>

  <script>
    $('a[rel=popover]').popover({
      html: true,
      animate: true,
      trigger: 'hover',
      placement: 'bottom'
    });
  </script>
  {{ broken_image() }}
  {% endblock %}
</h1>
