{% extends "base.html" %} {% block content %} {% from "_formhelpers.html" import
render_field %}
<section class="account">
  <div class="container">
    <div class="row form-container">
      <div class="form-wrapper reset-pw">
        <h1>{{ _('Reset Password') }}</h1>
        <form method="post" class="form-horizontal">
          <fieldset>
            {{ form.hidden_tag() }}
            {{ render_field(form.email_addr, placeholder= _('info@anno.datalab.vn') ) }}
            <div class="form-actions">
              <button
                type="submit"
                value="{{ _('Reset Password') }}"
                class="btn btn-primary"
              >
                Reset Password
              </button>
              <a
                href="{{ url_for('account.signin') }}"
                class="btn btn-default"
                >{{ _('Cancel') }}</a
              >
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}
