{% extends "admin/base.html" %}
{% set active_page = "profile" %}
{% set active_link = "admin" %}
{% from "account/_helpers.html" import render_account_local_nav %}
{% from "_formhelpers.html" import render_field %}

{% block rightbody %}
<div id="categories" class="col-md-9">
    <h2><strong>{{ _('Admin Site') }}:</strong> {{ _('Manage Categories') }}</h2>
    <div class="row">
        <div id="add" class="col-md-12">
            <form method="POST" action="{{url_for('admin.categories')}}">
                {{form.hidden_tag()}}
                <fieldset>
                    {{ render_field(form.name, placeholder= _('Category name')) }}
                    {{ render_field(form.description, placeholder= _('Category description')) }}
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">{{_('Add Category')}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% if categories %}
    <br/>
    <h2>{{_('List of Available Categories')}}</h2>
    <hr style="border-color: #d6c8c8;">
    {% for c in categories %}
    <div class="row">
        <div class="col-md-6">
            <p>{{c.name}} <small>({{n_projects_per_category[c.short_name]}} projects)</small></p>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <div class="btn-group btn-group-sm">
                <a href="{{url_for('admin.update_category', id=c.id)}}" class="btn btn-primary" style="margin-right: 0.5rem;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                {% if n_projects_per_category[c.short_name] == 0 and (categories | count > 1) %}
                <a href="{{url_for('admin.del_category', id=c.id)}}" class="btn btn-primary" style="background-color: #E74C3C; border-color: #E74C3C;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                {% else %}
                <a href="#" class="btn btn-primary" style="background-color: #E74C3C; border-color: #E74C3C;"><i class="fa fa-trash" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>
{% endblock %}
