#day,
#month,
#year {
  width: 30%;
  margin: 1rem;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.form-group {
  p {
    text-align: center;
    font-size: 14px;
  }
}
#ageCheck {
  text-align: center;
}
