.project-container {
  color: #434343;
  margin-bottom: 6rem;
  margin-top: 3rem;
  h1 {
    font-size: 3rem;
    margin-top: 3rem;
    font-weight: 600;
    color: #3ab0d5;
  }
  h2 {
    margin-top: 1rem;
    font-size: 2.5rem;
    margin-bottom: 0;
  }
}
