<footer>
  <div class="container-fluid scifabric big-footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <p class="h2 m-0">Contact</p>
          <p>
            <i class="fa fa-home"></i>
            <small>7 Ta Quang Buu, Hai Ba Trung, Ha Noi</small>
          </p>
          <p>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <small>info@anno.datalab.vn</small>
          </p>
        </div>
        <div class="col-12 col-md-6">
          <p>
            It takes time to create excellence. If it could be done quickly,
            more people would do it.
          </p>
        </div>
      </div>
    </div>
  </div>
  <small class="copyright">
    @ 2019 - <em>anno.datalab.vn</em> | <small>Nguyen Thiet Manh</small>
  </small>
</footer>
