<div id="taskcompleted" class="alert alert-info" style="display:none;">
  <strong>The task has been completed! Thanks a lot!</strong>
</div>
<div id="success" class="alert alert-success" style="display:none;">
  <a class="close">×</a>
  <strong>Well done! Your answer has been saved</strong>
</div>
<div id="loading" class="alert alert-info">
  <strong>Loading...</strong>
</div>
<div id="finish" class="alert alert-success" style="display:none;">
  <strong
    >Congratulations! You have participated in all available tasks!</strong
  >
  <br />
  <div class="alert-actions">
    <a class="btn small" href="/">Go back</a>
    <a class="btn small" href="/project">or, Check other projects</a>
  </div>
</div>
<div id="error" class="alert alert-danger" style="display:none;">
  <a class="close">×</a>
  <strong
    >Error! Something went wrong, please contact the site administrators</strong
  >
</div>
<div id="answer">
  <div class="contentContainer">
    <div class="formGroup" id="content-wrapper">
      <div></div>
    </div>
    <div class="labelsWrapper" id="labelWrapper"></div>
    <div class="formControl">
      <button id="next">Next</button>
    </div>
  </div>
</div>
<script src="/static/ner/js/index.js"></script>
